@page "/"
<div class="app-container intro-container">
    <div class="left-container">
        <h1>Blazor Web App by Arslan </h1>

        <p>
            This is a simple POC project developed using Blazor and Asp.Net Core 3.1. The project has Identity system integrated for user management and uses MariaDB as database.
            Project is a dynamic questionnaire. Some questions are asked from the patient and based on the answers, the next question varies. Different types of controls are used to maximize understanding. Login to the system using following.
            <ul>
                <li><b>Username:</b> patient@test.com</li>
                <li><b>Password:</b> Patient@1234</li>
            </ul>
        </p>

    </div>
</div>
