@inherits LayoutComponentBase
@using System.Security.Claims
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager;
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main">
    <div>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>




@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            //_navigationManager.NavigateTo("/questionnaire", false);
        }
    }
}
